<!-- Top Bar -->
<div id="top-nav" class="bar">
  <a href="http://www.axisphilly.org"><img class="logo" alt="AxisPhilly: Where News Breaks Through" src="https://s3.amazonaws.com/axisphilly-assets/images/axisphilly-logo-equal-height.png"></a>
  <form class="search top">
    <button class="small button radius nav-button find"><img src='img/search.png'> </button>
    <input placeholder="Search for an address">
  </form>
  <a href="#" class="small button radius nav-button find-user"><img src='img/marker.png'>Locate Me</a>
  <a href="#" class="small button radius nav-button info"><img src='img/info.png'>Info</a>
  <a href="#" class="small button radius nav-button embed"><img src='img/code.png'>Embed this map</a>
</div>
<div id="title-bar"><strong>Title of Map</strong></div>

<!-- Map -->
<div id="map"></div>
<div id="layer-toggle" class="layers" data-control="switcher">
  <a href="#2007" data-zoom="14" data-lat="38.91060" data-lon="-77.00126" data-slug="donations_2007" class="active">Donations, 2007-2008</a>
  <a href="#2010" data-zoom="12" data-lat="" data-lon="" data-slug="donations_2010" class="">Donations, 2010-2011</a>
</div>
<div class="description" id="desktop-description">
  <% include _description.html %>
</div>

<!-- Bottom bar -->
<div id="bottom-nav" class="bar">
  <form class="search bottom">
    <button class="small button radius nav-button find"><img src='img/search.png'> </button>
    <input placeholder="Search for an address">
  </form>
  <a href="#" class="small button radius nav-button find-user bottom"><img src='img/marker.png'>Locate Me</a>
  <a href="#" class="small button radius nav-button embed bottom"><img src='img/code.png'>Embed this map</a>
</div>